[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
